build/*
.vscode/*
images/*
prj.codeforces/main
prj.codeforces/main.cpp
prj.codeforces/in
prj.codeforces/out
prj.codeforces/ans
prj.cw/build/*
prj.cw/data/*
prj.cw/.DS_Store
prj.cw/.vscode/*
prj.cw/out/*
prj.cw/bin/*
prj.cw/.vs/*
.DS_Store
